* {
  font-family: var(--font-sans);
  color: var(--text-dark);
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0px 30px;
  background: var(--background-soft);
}

.wrapper {
  max-width: 960px;
  width: 100%; 
  margin: 30px auto;
  transform: scale(0.8);
}
.landing-page {
  max-width: 960px;
  height: 475px;
  margin: 0;
  box-shadow: 0px 0px 8px 1px #ccc;
  background: #fafafa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 50%;
  max-height: 600px;
  height: auto;
  margin: 0;
  margin-bottom: -48px;
}
h1 {
  font-size: 64px;
  margin: 0;
  color: var(--primary-dark);
  font-family: var(--font-serif);
}
p {
  font-family: var(--font-sans); 
  color: var(--text-light); 
  font-size: 16px;
  width: 35%; 
  margin: 16px auto 24px;
  text-align: center;
}
a {
  font-family: var(--font-sans); 
  text-decoration: none;
  background: var(--primary-dark);
  border-radius: 50px;
  padding: 8px 24px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  border: none;
  box-shadow: 0 4px 8px 0 #ccc;
  margin-bottom: 64px;
}
